[submodule "extensions/tson-vscode"]
	path = extensions/tson-vscode
	url = https://github.com/Mehmetyaz/tson-vscode.git
[submodule "packages/tson-js"]
	path = packages/tson-js
	url = https://github.com/Mehmetyaz/tson-js.git
[submodule "packages/tson-dart"]
	path = packages/tson-dart
	url = https://github.com/Mehmetyaz/tson-dart.git
[submodule "packages/tson-rust"]
	path = packages/tson-rust
	url = https://github.com/Mehmetyaz/tson-rust.git
